In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
pnadc = pd.read_csv('/home/matheus/Documents/PNADC/pnadc_consulta_V4022.csv')

In [16]:
pnadc.sort_values(by=['ano','trimestre'], ascending=[False, True])

      ano  trimestre sigla_uf     id_upa  V1008  V1016  V4022
112  2022          1       RN  240078513     13      4    NaN
239  2022          1       PI  220022024      2      1    NaN
279  2022          1       SE  280021851     13      2    NaN
504  2022          1       PA  150115670      9      4    NaN
561  2022          1       SC  420091655      8      4    NaN
..    ...        ...      ...        ...    ...    ...    ...
797  2012          4       SE  280008375      9      1    NaN
832  2012          4       MA  210077506      6      5    NaN
890  2012          4       AC  120002434      2      4    NaN
942  2012          4       PE  260029396      5      2    NaN
982  2012          4       SE  280009880     10      4    NaN

[1000 rows x 7 columns]